<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


<!--  <bean class="org.example.Car" id="car1">-->
<!--    <constructor-arg value="Tesla Model 3"/>-->
<!--    <constructor-arg value="2021"/>-->
<!--    <constructor-arg ref="dieselEngine"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.Car" id="car2">-->
<!--    <property name="carType" value="Tesla Model 4"/>-->
<!--    <property name="carModel" value="2022"/>-->
<!--    <property name="engine" ref="petrolEngine"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.Engine" id="engine">-->
<!--    <constructor-arg value="Electric"/>-->
<!--    <constructor-arg value="500"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.PetrolEngine" id="petrolEngine">-->
<!--    <constructor-arg value="Gasoline"/>-->
<!--    <constructor-arg value="300"/>-->
<!--  </bean>-->

<!--  <bean class="org.example.DieselEngine" id="dieselEngine">-->
<!--    <constructor-arg value="Gasoline"/>-->
<!--    <constructor-arg value="300"/>-->
<!--  </bean>-->

</beans>